<!DOCTYPE html>
<html lang="en">
<%- include('../include/head.ejs') %>
<body>
  
    
  <%- include('../include/nav.ejs') %>
  <div class="container">
      <div>
           <h3>Name: <%= item.name %></h3> 
      </div> 
      <div>
           <h3>Price: <%= item.price %></h3> 
      </div> 
      <a class="waves-effect waves-light btn" id="deleteBtn" data-id="<%= item._id %>">Delete</a>
    </div>  
      <script>
        deleteBtn.onclick = (e) => {
          e.preventDefault();
          const id = deleteBtn.dataset.id;
          console.log(id);
          const endPoint = `/items/${id}`;
          fetch(endPoint, {
            method:'DELETE'
          }).then((res) => res.json()).then((result) => {             
             console.log(result);
             window.location.href = result.redirect;
          }).catch(err => console.log(err));
        }
      </script>
</body>
</html>